div {
  p {
    font-size: 1.6rem;
    line-height: 1.4em;
    padding: 10px 0px;
  }
  // .light {
  //   color: #222b5f;
  // }
  // .dark {
  //   color: #f3f1fe;
  // }
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 1.4rem;
  }
}
