.buttons {
  a {
    display: inline-block;
    background: #6c62e2;
    padding: 1.5rem 2rem;
    color: white;
    font-size: 1.6rem;
    text-transform: capitalize;
    border-radius: 8px;
    font-weight: 500;
    border: none;
  }
}

@media only screen and (max-width: 768px) {
  .buttons {
    a {
      font-size: 1.4rem;
      padding: 1.2rem 1.5rem;
    }
  }
}
