:root {
  /* colors */
  --darkBlue_1: #3b447a;
  --darkBlue_2: #222b5f;
  --darkBlue_3: #0a0f19;
  --darkBlue_4: #101826;
  --mediumSlateBlue: #6c62e2;
  --lightBlue_1: #f3f1fe;
  --lightBlue_2: #adbde3;
  --white: #ffffff;
  --black: #000000;
  /* others */
  --header-height: 50px;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  //   background-color: var(---lightBlue_1);
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1200px; //! for larger screen
  width: 90%; //! for smaller device width: 90% becuse then thir is 10% gap on bothside
  margin: 0 auto; //! top-bottom  left-right
}
